<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Zmieniono hasło</title>
    <meta charset="utf-8"/>
</head>
<body>
    <div class="text-center">

        <h1>Dobre wieści, {{ username }}!</h1>
        <p>Twoje hasło zostało zmienione.</p>
        <p><a href="{{ app }}/">Wróć do strony głównej.</a></p>

    </div>
</body>
</html>
