<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Zalogowanie pomyślne</title>
    <meta charset="utf-8"/>
</head>
<body>

    <div class="row">
         <h1 class="text-center">Witaj {{ username }}</h1>
    </div>

    <div class="col-md-3 col-md-offset-3">

        <form role="form" action='{{ app }}/newpost' method='POST'>
            <div class="form-group">
                <label for="subject">Nowy wpis:</label>
                <input type="text" class="form-control" id="subject" name="postsubject" maxlength="64" required>
            </div>
            <div class="form-group">
                <label for="newuserpost">Treść wpisu:</label>
                <textarea class="form-control" rows="5" id="newuserpost" name="mypost" required></textarea>
            </div>
            <button type="submit" class="btn btn-info pull-right">Opublikuj</button>
        </form>

        <p>Nie masz jeszcze żadnych wpisów.</p>
        <p><a href="{{ app }}/logout">Wyloguj się</a></p>
        <p><a href="{{ app }}/changepass">Zmień hasło</a></p>

    </div>

    <div class="col-md-3">

        <h3>Wszystkie wpisy:</h3>
        <ul class="list-group">
            {% for title,post,author,date in alldata %}
                <li class="list-group-item">
                    <h3>{{ title }}</h3>
                    <p>{{ post }}</p>
                    <p>
                        Opublikowano: {{ date }} przez <strong>{{ author }}</strong>
                    </p>
                </li>
            {% endfor %}
        </ul>

    </div>

</body>
</html>
