<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Niepowodzenie</title>
    <meta charset="utf-8"/>
</head>
<body>
    <div class="col-md-2 col-md-offset-5">

        <div class="text-center">
            <h1>Ups...</h1>
            <p>Nie udało się Cię zarejestrować. Możliwe problemy:</p>
        </div>

        <ul class="list-group">
            <li class="list-group-item list-group-item-warning">Hasło jest za słabe</li>
            <li class="list-group-item list-group-item-warning">Podane hasła nie są zgodne</li>
            <li class="list-group-item list-group-item-warning">Nazwa użytkownika jest już zajęta</li>
            <li class="list-group-item list-group-item-warning">Nazwa użytkownika zawiera zabronione znaki</li>
        </ul>

        <div class="text-center">
            <p>Spróbuj jeszcze raz.</p>
            <a href="{{ app }}/register">Wróć.</a>
        </div>

    </div>
</body>
</html>
